.inputContainer{
    margin-top: .5%;
    margin-bottom: 2%;
}
.inputContainer input{
    border: 3px solid var(--primary);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 7px 12px;
    font-family: 'Poppins';
    font-size: 17px;
    transition: all 1s;
    max-width: 270px;
    z-index: 1;
}
.inputContainer:focus{
    outline-color: rgb(127, 170, 170);
}