.filtersContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.filtersContainer select{
    border: none;
    border-radius: 15px;
    padding: 7px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #6d6c6c,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
    text-align: center;
}
.filtersContainer select:focus{
    outline-color: white;
}
.dietsFilter{
    position: relative;
    left: 30px;
}
.scoreFilter{
    position: relative;
    left: 30px;   
} 
/* .alphabeticalFilter{

}
*/
.btnReload{
    width: 8%;
    padding: 11px;
    margin-top: 9px;
    margin-left: 105em;
    cursor: pointer;
    border: 3px solid var(--primary);
    border-radius: 20px;
    background-image: linear-gradient(10deg,var(--primary),#585858);
    color: rgb(255, 255, 255);
    transition: all .2s;
    position: absolute;
    display: flex;
    justify-content: center;
}
.btnReload:hover{
    outline-color: rgb(127, 170, 170);
    transform: scale(0.9);
}
.btnCreate{
    width: 10%;
    padding: 7px;
    margin-top: 9px;
    margin-left: 20em;
    cursor: pointer;
    border: 3px solid var(--primary);
    border-radius: 20px;
    background-image: linear-gradient(10deg,var(--primary),#585858);
    color: rgb(255, 255, 255);
    transition: all .2s;
    position: absolute;
    display: flex;
    justify-content: center;
}
.btnCreate:hover{
    outline-color: rgb(127, 170, 170);
    transform: scale(0.9);
}
.modal{
    display: none;
    background: rgba(19, 18, 18, 0.284);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;    
}
.modal h1{
    font-size: 3rem;    
    position: relative;
}