.navbar{
    width: 100%;
    height: 6.7ex;
    position: relative;
    font-family: 'Square_Peg';
    font-size: 100px;
    font-weight: 600;
    font-style: oblique;
    color: #217e76;
    background-image: url(../../assets/bannerNav2.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
}
.searchbarContainer{
    position: absolute;
    display: inline;    
    font-size: 32px;
    font-weight: 400;
    float:left;
    right: 5%;
    top: 110%;
    
}
.navTitle{
    position: absolute;    
    font-family: 'Square_Peg';
    right: 45.6%;
    top: -5%;
}
/*----------Media Queries (MED-LARGE DEVICES) ----------*/
@media screen and (max-width: 1740px) {    
    .navbar{
        width: auto;
        height: 6ex;
        background-size: cover;
    
    }
    .searchbarContainer{
        top: 110%;
    }
}
  /*----------Media Queries (MEDIUM DEVICES) ----------*/
  @media screen and (max-width: 1024px) {    
    .navbar{
        width: auto;
        height: 4.7ex;
        background-size: cover;
    
    }
    .navTitle{
        top: -20%;
        right: 43%;
        font-size: .9em;
    }
    .searchbarContainer{
        top: 115%;
    }
}
/*----------Media Queries (SMALL DEVICES) ----------*/
@media screen and (max-width: 600px) {
    .navbar{
        height: 5.7ex;
        background-image: url(../../assets/bannerNav.jpg);
    }
    .navTitle{
        top: -10%;
        right: 35%;
        font-size: .9em;
    }
    .searchbarContainer{
        position: absolute;        
        margin: auto;
        top: 230%;
        right: 33%;
    }
}