.cardTitle{
    font-family: 'Square_Peg';
    font-size: 3em;
    color: auto;
    width: 100%;
    height: 6ex;
    text-align: center;
    margin: auto;
}

.cardContainer{
  width: 95%;
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    color: rgb(217, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(
        180deg,
        rgba(22, 24, 30, 0) 0%,
        rgba(22, 24, 30, 0.7) 65.28%
      ),
      linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
    background-size: cover;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: .5em;
    padding-top: 1em;
    padding-right: .6em;
    z-index: 1;
    transition: 0.2s;
    box-shadow: 8px 10px 10px -3px black;
  }
  .card:hover{
    transform: scale(.97);
  }
  .card img{
    border-radius: var(--radius);
  }
  .card button {
    border: none;
    background: none;
    cursor: pointer;
    background: var(--primary);
    color: rgb(0, 0, 0);
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
  }
  .card button:hover {
    opacity: 0.8;
    /* transform: scale(0.2);  */
  }
  .card .add-btn {
    color: rgb(59, 57, 57);
    padding: 0.5em 0.8em;
    background: var(--primary);
    border-radius: 14px;
    transition: 0.2s;
    height: 10ex;
  }
  .add-btn:hover{
    opacity: 0.8;
    /* transform: scale(0.2); */
  }
  
  .card .watch-btn {
    flex: 1;
    padding-top: 5%;
  }
/*----------Media Queries (MED-LARGE DEVICES) ----------*/
@media screen and (max-width: 1740px) {    
  .cardContainer{     
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 90%;  
    transform: scale(0.9); 
    height: 57ex; 
  }
}
/*----------Media Queries (MEDIUM DEVICES) ----------*/
@media screen and (max-width: 1024px) {    
  .cardContainer{     
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;  
    transform: scale(0.8); 
    height: 57ex; 
  }
}
/*----------Media Queries (SMALL DEVICES) ----------*/
@media screen and (max-width: 600px) {
  .cardContainer{     
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    width: 100%;
    transform: scale(0.6);
    height: 47ex;
}
  .cardTitle{
    position: relative;
    width: 38ex;
    align-items: center;
  }
}